# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# 로컬에 설치된 가상환경
venv/
.env/
.venv/

# 환경 변수
.env
.env.*
!.env.development

# 이미지
assets/*
assets/screenshots/Screenshots/
!assets/screenshots/
!assets/ppt*.png

# 데이터
datasets/*
!datasets/esg_db.sql
!datasets/SK_하이닉스_성과_및_실적_데이터_환경(E)_2019-2024.xlsx
!datasets/SK_하이닉스_성과_및_실적_데이터_사회(S)_2019-2024.xlsx
!datasets/SK_하이닉스_성과_및_실적_데이터_지배구조(G)_2019-2024.xlsx
!datasets/지속가능경영_보고서_2023.pdf
!datasets/지속가능경영_보고서_2024.pdf
!datasets/content_db.xlsx
!datasets/section_checkpoints.db
!datasets/RAWDATA_ERP.csv
!datasets/RAWDATA_GHG.xlsx
!datasets/RAWDATA_GHG_FORMULA.csv
!datasets/RAWDATA_GHG_QUANTITY.csv

# 전처리
preprocess/chromadb_구조_예시.txt
preprocess/marker-pdf/*
!preprocess/marker-pdf/_content_v1.txt

