# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# 로컬에 설치된 가상환경
venv/
.env/
.venv/

# 환경 변수
.env
.env.*
!.env.development

# 이미지
assets/*
!assets/screenshots/
assets/screenshots/*
!assets/screenshots/로그인화면.jpeg
!assets/screenshots/챗봇화면.jpeg
!assets/screenshots/DB화면1.jpeg
!assets/screenshots/DB화면2.jpeg
